<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">

    <style>
        .main{
           margin: auto;
           width: 80%;
        }
        a{
            text-decoration: none;
        }
        #title{
            text-align: center;
        }
    </style>
    <title><%=pageTitle%></title>
</head>
<body>
    <%-include('../includes/navigation')-%>
    <div class="main">
        <h1 id="title">HIRA SECONDARY SCHOOL AND COLLEGE</h1>
        <h2>Admissions open click <a href="/admit-student">here</a> to admit student</h2>
    </div>
    
</body>
</html>